@import 'variables';
@import 'mixins';

@import '../assets/fonts/fonts.css';

@import 'modules/header.scss';
@import 'modules/article-one-photo.scss';
@import 'modules/article-two-photos.scss';
@import 'modules/article-three-columns.scss';
@import 'modules/button.scss';

.main {
  background: white;
  color: $black;
  font-family: 'freightdispcmp-pro', serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.2em;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: $main-min-width;
  max-width: $main-max-width;
  margin: 0 auto;
  text-align: center;

  @media (max-width: $main-max-width) {
    padding: 0 10px;
  }
  @media (max-width: $breakpoint-mobile-width) {
    padding: 0 6px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
