$black: #000000;
$dark-grey: #222222;
$yellow: #fff155;

$breakpoint-large-desktop-width: 2560px;
$breakpoint-desktop-width: 1440px;
$breakpoint-laptop-width: 1024px;
$breakpoint-tablet-width: 768px;
$breakpoint-mobile-width: 455px;
$breakpoint-small-mobile-width: 375px;
$main-min-width: 320px;
$main-max-width: 1000px;
